#selection_form_container
  %form{:name => 'selectionform', :id => 'selectionform', 
  :action => controller.potato_overview_path, :method => 'post'}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %table
      %tbody
        %tr
          %td
            %label{:for => 'user'} Username:
            %input{:type => 'text', :name => 'user', :value => @context[:overview_username]}
#overview
  %table.pretty
    %thead
      %tr
        %th Version
        %th Tasks
        %th Due
    %tbody
      - @context[:overview_table_rows].each do |version|
        %tr{class: (['strong', 'red'] if version == 'Unversioned')}
          %td= version
          %td= @context[:overview_table_data][version][:tasks].to_s
          %td
            - t = @context[:overview_table_data][version][:time]
            - if t.nil?
              N/A
            - else
              = timeago_tag(t)

