- def overview_path(user)
  - return nil unless user.present?
  - base_uri = controller.potato_overview_path
  - escaped_user = CGI.escape user
  - "#{base_uri}?utf8=%E2%9C%93&user=#{escaped_user}"

#selection_form_container
  %form{:name => 'selectionform', :id => 'selectionform', 
    :action => controller.potato_overview_path, 
    :method => 'post'}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %table
      %tbody
        %tr
          %td
            %label{:for => 'user'} Username:
            %input{:type => 'text', 
              :name => 'user', 
              :value => @context[:user]}
        - if (errs = @context[:errors]) && (errs = errs[:user])
          %tr
            %td{class: ['red', 'strong']}
              %ul
                - errs.each do |err|
                  %li= err
#overview
  %table.table.table-condensed.pretty{'data-url' => overview_path(@context[:user])}
    %thead
      %tr
        %th{'data-field' => 'version',
          'data-sortable' => 'true',
          'data-sorter' => 'potato.sorters.common.branchName',
          'data-formatter' => 'potato.formatters.propagations.targetVersion'}
          Version
        %th{'data-field' => 'tasks',
          'data-sortable' => 'true'} 
          Tasks
        %th{'data-field' => 'due',
          'data-sortable' => 'true',
          'data-formatter' => 'potato.formatters.common.relDueDate'}
          Due
    %tbody
