- now = Time.now
#selection_form_container
  %form{:name => 'selectionform', :id => 'selectionform', 
  :action => '', :method => 'post'}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %table
      %tbody
        %tr
          %td
            %label{:for => 'user'} Username:
            %input{:type => 'text', 
              :name => 'user', 
              :value => @context[:propagations_username]}
#propagations
  %table.pretty
    %thead
      %tr
        %th Propagation
        %th Parent
        %th PR#
        %th Status
        %th Target
        %th Due
    %tbody
      %tr
        //{class: (['strong', 'red'] if ... )}
        %td CD-29394
        %td CD-29245(R)
        %td 15346
        %td Code review
        %th v12.0.11
        %td= timeago_tag(now + 1.hours)
      %tr
        %td CD-29397
        %td CD-29245(R)
        %td 15407
        %td Code review
        %th v13.0.0
        %td= timeago_tag(now + 1.weeks)
        

