%p POTATO is a developer dashboard that gathers together JIRA and GitHub data in a single, convenient place. The acronym stands for Programmer's Open Task AgregaTOr.
%h2 Views
%ul
  - PotatoController.instance_methods(false).each do |sym|
  - name = sym.to_s
  - display_name = controller.action_display_name name
    %li
      = link_to display_name, "/potato/#{name}"
%h2 Admin
%ul
  %li= link_to "Users", users_path
  %li= link_to "Resource Updates", resource_updates_path
  
