- user = @context[:user]
- messages = @context[:messages]

%h1 Mass update
= form_tag(controller.due_dates_mass_update_path, method: 'post', id: 'mass-update-form') do
  .container-fluid
    - if messages.present?
      .row
        %ul
          - messages.each do |msg|
            %li{class: msg[:class]}= msg[:body]
    .row.form-group
      .col-sm-9.field
        %label{for: 'action'} Update from wiki (may take ~60 secs):
      .col-sm-3
        %input#mass-update-update-field{type: 'hidden', name: 'update', 'value': 'Wiki'}
        %input#wiki-btn{type: 'submit', value: 'Wiki'}
= link_to 'Back to due dates', due_dates_path
