/*
*= require_self
*= require bootstrap-sass/assets/stylesheets/_bootstrap
*= require bootstrap-table/src/bootstrap-table
*= require smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min

*/
@import 'partials/reset';

// @import 'bootstrap-sprockets';
// @import 'bootstrap-datetimepicker';
// @import 'bootstrap-table/src/bootstrap-table';

@import 'theme';

body {
   font: 12pt Helvetica, sans-serif;
}

a {
    color: $color-text-link;
    text-decoration: underline;
}
a:visited   {color: $color-text-link-visited;}
a:hover     {color: $color-text-link-hover;}

.centered {
    text-align: center;
}

.bootstrap-table {
    .fixed-table-container {
        border: 1px solid $color-border;
        border-radius: 0;
    }
    .table.pretty {
        border: none;
        tbody {
            border: none;
        }
    }
}
table.pretty {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    border: 1px solid $color-border;
    background-color: $color-background-shade;
    
    .left-col-border {
        border-left: 1px solid $color-border-weak;
    }
    
    thead {
        border-bottom: 1px solid $color-border;
        
        th {
            text-align: left;
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
        
        th ~ th {
            text-align: center;
        }
    }
    
    tr {
        // border-bottom: 1px solid $color-border;
        border: none;
        td {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
        
        td ~ td {
            text-align: center;
        }
    }
    
    tr:last-child {
        border-bottom: none;
    }
        
    tr.red {
        background-color: $color-background-strong;
    }
}

table.hpretty {
    border-collapse: collapse;
    width: 0%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid $color-border;
    background-color: $color-background-shade;
    
    th {
        text-align: right;
        padding-left: 0.25em;
        padding-right: 0.5em;
    }
    tr {
        border-bottom: 1px solid $color-border-weak;
        // border: none;
        td {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
    }
    
    tr:last-child {
        border-bottom: none;
    }
        
    tr.red {
        background-color: $color-background-strong;
    }
}

.strong {
    color: $color-text-strong;
    font-weight: bold;
}

.red {color: $color-text-red;}
.green {color: $color-text-green;}
.grey {color: $color-text-grey;}

.urgent {
    @extend .strong;
    @extend .red;
}

.success {
    @extend .strong;
    @extend .green;
}

.header {
    margin: 0px;
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
        margin-bottom: 5px;
    }
    h1 {
        a {text-decoration: inherit;}
        a:hover {text-decoration: underline;}
    }
    h2 {
        font-size: 130%;
    }
}


#main-container .article {
    border: 1px solid $color-border;
}

.footer * {
    color: $color-text-weak;
}

.footer p {
    font-size: 80%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    color: $color-text-heading;
}

ul {
    margin-left: 1.5em;
}

.page_section {
    padding: 20px;
    margin-top: 10px;
    background-color: $color-background;
    color: $color-text;
}

form .row {
    margin-top: 0.5em;
}

form .container-fluid {
    margin-bottom: 0.5em;
}


