/*
    *= require_self
*/
@import 'partials/reset';
@import 'theme';

body {
   font: 100% Helvetica, sans-serif;
}

a           {color: $color-text-link;}
a:visited   {color: $color-text-link-visited;}
a:hover     {color: $color-text-link-hover;}

table.pretty {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    border: 1px solid $color-border;
    background-color: $color-background-shade;
    
    thead {
        border-bottom: 1px solid $color-border;
        
        th {
            text-align: left;
        }
        
        th ~ th {
            text-align: center;
        }
    }
    
    tr {
        border-bottom: 1px solid $color-border;
        
        td ~ td {
            text-align: center;
        }
    }
    
    tr:last-child {
        border-bottom: none;
    }
        
    tr.red {
        background-color: $color-background-strong;
    }
}


.strong {
    color: $color-text-strong;
    font-weight: bold;
}

.red {color: $color-text-red;}

.header {
    margin: 0px;
    
    .container {
        margin-top: 0;
        background-color: transparent;
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
    }
    h1 {
        a {text-decoration: inherit;}
        a:hover {text-decoration: underline;}
        margin-bottom: 5px;
    }
    h2 {
        font-size: 130%;
    }
}


.article .container {
    border: 1px solid $color-border;
}

.footer * {
    color: $color-text-weak;
}

.footer p {
    font-size: 80%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-text-heading;
}

ul {
    margin-left: 1.5em;
}

.page-margins {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    background-color: $color-background;
    color: $color-text;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0.5em;
}

