// Place all the styles related to the potato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme';

$overview_width : 50%;
$overview_min_width : 220px;
#selection_form_container {
    width: $overview_width;
    min-width: $overview_min_width;
    margin-left:auto;
    margin-right:auto;
}
    
#overview {
    width: $overview_width;
    min-width: $overview_min_width;
    margin-left:auto;
    margin-right:auto;
}

#overview table {
    width: 100%;
    margin: 0;
    border: 1px solid $color-border;
    background-color: $color-background-shade;
}
#overview tr{
    border-bottom: 1px solid $color-border;
}
#overview thead {
    border-bottom: 1px solid $color-border;
}
#overview tr:last-child {
    border-bottom: none;
}

#overview th {
    text-align: left;
}
#overview th ~ th {
    text-align: center;
}
#overview td ~ td {
    text-align: center;
}
