$white: #fff;
$black: #000;
$grey10: rgb(10%, 10%, 10%);
$grey20: rgb(20%, 20%, 20%);
$grey30: rgb(30%, 30%, 30%);
$grey40: rgb(40%, 40%, 40%);
$grey50: rgb(50%, 50%, 50%);
$grey60: rgb(60%, 60%, 60%);
$grey70: rgb(70%, 70%, 70%);
$grey80: rgb(80%, 80%, 80%);
$grey90: rgb(90%, 90%, 90%);

$dawn-pink: #f2ece4;
$noon-sky-blue: rgb(186, 209, 224);
$pale-sky-grey: #6b717f;
$midnight-blue: #036;

$potato-crust-brown: #7f5d42;
$potato-crust-dark-brown: #4b260b;
$potato-crust-light-brown: #dcb685;
$potato-crust-burnt-brown: #3f1600;
$potato-fruit-brown: #e1d4a1;
$potato-fruit-yellow: #f1cc6f;
$potato-crust-red: #c7594d;
$potato-crust-light-red: #de9086;
$potato-crust-dark-red: #86241d;
$dill-green: saturate(#61701b, 30%);
$dill-dark-green: #4b5417;
$dill-light-green: #bac776;
$butter-yellow: lighten(#d9cb92, 10%);
$butter-dark-yellow: #b29823;
$butter-light-yellow: #eff0c6;
$tomato-red: #a9141a;
$tomato-dark-red: #8d0104;
$tomato-light-red: #ef5c66;

