@import '_names.scss';

$color-shadow: rgba($black, 25%);
$color-primary: $potato-fruit-brown; 
$color-accent: $dill-green;
$color-background: $potato-fruit-brown;
$color-background-shade: $butter-light-yellow;
$color-background-strong: $potato-crust-light-red;
$color-background-invert: $potato-crust-burnt-brown;
$color-text: $potato-crust-burnt-brown;
$color-text-weak: $potato-crust-brown;
$color-text-strong: $tomato-dark-red;
$color-text-heading: $potato-fruit-yellow;
$color-text-invert: $potato-crust-light-brown;
$color-text-strong-invert: $tomato-light-red;
$color-text-link: $midnight-blue;
$color-text-link-visited: $noon-sky-blue;
$color-text-link-hover: lighten($midnight-blue, 30%);
$color-border: $potato-crust-dark-brown;
$color-navbar-background: $potato-crust-dark-brown;

