@import '_names.scss';

$color-shadow: rgba($black, 25%);
$color-primary: $potato-fruit-brown; 
$color-accent: $dill-green;
$color-background: $potato-fruit-brown;
$color-background-shade: $butter-light-yellow;
$color-background-strong: $potato-crust-light-red;
$color-background-invert: $potato-crust-burnt-brown;
$color-text: $potato-crust-burnt-brown;
$color-text-weak: $potato-crust-brown;
$color-text-strong: $tomato-dark-red;
$color-text-red: $tomato-dark-red;
$color-text-green: $dill-green;
$color-text-grey: $grey50;
$color-text-heading: $dill-green;
$color-text-heading-invert: $potato-fruit-yellow;
$color-text-invert: $potato-crust-light-brown;
$color-text-strong-invert: $tomato-light-red;
$color-text-link: lighten($midnight-blue, 20%);
$color-text-link-visited: $midnight-blue;
$color-text-link-hover: lighten($midnight-blue, 30%);
$color-text-link-invert: lighten($midnight-blue, 45%);
$color-text-link-visited-invert: lighten($midnight-blue, 40%);
$color-text-link-hover-invert: lighten($midnight-blue, 50%);
$color-border: $potato-crust-dark-brown;
$color-border-weak: transparentize($potato-crust-dark-brown, 0.8);
$color-navbar-background: $potato-crust-dark-brown;

body {background-color: $white;}

.header {
    color: $color-text_invert;
    h1 {
        color: $color-text-heading-invert;
        a           {color: $color-text-heading-invert;}
        a:visited   {color: $color-text-heading-invert;}
        a:hover     {color: $color-text-heading-invert;}
    }
    a {color: $color-text-link-invert;}
    a:visited {color: $color-text-link-visited-invert;}
    a:hover {color: $color-text-link-hover-invert;}
}
